<!DOCTYPE html>
<html>
  <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--        <link rel="stylesheet" href="static/master.css">-->
        <style>
              #ckbox{
              width: 500px;
              height: 500px;
              padding: 0;
              margin: 20px;
              vertical-align: center;
              position: relative;
              top: -1px;
              *overflow: hidden;
              }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">

        <title>Notificador Hung Sing Kung Fu Academy</title>

  </head>

  <body>

            <div class="container">
                <img src="https://lirp-cdn.multiscreensite.com/0428a594/dms3rep/multi/opt/logo-hungsing-site-600w.png" class="figure-img img-fluid rounded"  alt="..." title="Hung Sing">
        <!--      <img src="https://irp-cdn.multiscreensite.com/0428a594/dms3rep/multi/mobile/logo-hungsing-site.png" class="figure-img img-fluid rounded" alt="...">-->
            </div>

            <div>
              <nav class="navbar navbar-dark bg-dark">
              <a class="navbar-brand" href=""></a>
              </nav>
            </div>

            <div class="container" align="center">
                <ul class="nav">

                        {% if current_user.confirmed and  current_user.is_authenticated %}
                    <li class="nav-link"><a href="{{ url_for('users.logout') }}">Sair</a></li>
                    <li class="nav-link"><a href="{{ url_for('users.account') }}">Atualizar Conta</a></li>
                    <li class="nav-link"><a href="{{ url_for('users.del_account') }}">Apagar Conta</a></li>
                        {% elif current_user.is_authenticated %}
                    <li class="nav-link"><a href="{{ url_for('users.logout') }}">Sair</a></li>
                    <li class="nav-link"><a href="{{ url_for('users.unconfirmed') }}">Confirmar conta</a></li>
                        {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('core.index') }}">Início</a></li>
                    <li class="nav-link"><a href="{{ url_for('users.login') }}">Entrar</a></li>
                    <li class="nav-link"><a href="{{ url_for('users.register') }}">Registrar</a></li>
                        {% endif %}
                </ul>
            </div>


        <div class="container">
          {% block content %}

          {% endblock %}
        </div>

  </body>

</html>
