{% extends "base.html" %}

{% block content %}

      {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
              </div>
            {% endfor %}
          {% endif %}
     {% endwith %}

    <div class="jumbotron">
        <div align='center'>
            <h1>Bem Vindx!</h1>
            <br>
            <p>Você ainda não confirmou sua conta !</p>
            <p>Por favor confira sua caixa de email e spam  (:</p>
            <br>
            <p>Não recebeu o email? <a href="{{ url_for('users.resend_confirmation') }}">Reenviar</a>.</p>
        </div>
    </div>
</div>

{% endblock %}
